@media screen and (max-width:601px){
	.nav-socials{
		display: none;
	}
	.nav-left{
		margin-left: 1rem;
	}
	.horizontal{
		width: 18rem;
	}
	.nav-hidden{
		display: none;
	}
	.page-footer .list li{
	margin-bottom: 2rem;
	}
	.form-name-phone{
		display: inline;
	}
	.name-phone{
		margin-bottom: 0.5rem;
	}
	.rowdmy{
		margin-bottom: 0.5rem;
		display: inline-block;
	}
	.dmy{
		display: inline-flex;
		width: 100%;
		margin-bottom: 0.5rem;
	}
	.email{
		width: 100%;
	}
	.month{
		margin-right: 0;
	}
	.items{
		padding: 0.8rem;
	}
	.form-group select.d-m-y{
		    background-position: right 0.8rem center;
	}
	.nav-contacts {
    margin-right: 0rem;
	}
	.page-header{
	background-position: center;
	}
	.title-header{
		font-size:2rem;
	}
	.subtitle-header{
		line-height: 1.25;
	}
	.submit{
    	margin-bottom: 0px;
	}
	.logo-header{
		height: 8rem;
	}
	.logo-header img{
		height: 8rem;
	}
	.para-header{
		margin-top: 0.7rem;
		margin-bottom: 0.7rem;
	}
}
